<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for(let i=0; i<listImg.length; i++){ %>
        <%= listImg[i] %>
        <img src=<%= listImg[i] %>>
    <% } %>
    
</html>
